<html>
  <head>
    <link rel="openid2.provider" href="<%= @endpoint %>" />
  <link rel="openid.server" href="=ref" />
  </head>
  <body>
    <h1>This is <%= @identity %> identity page</h1>
  </body>
</html>

